In [1]:
import pandas as pd
import utils as ut
import ast
import json
import importlib

In [2]:
importlib.reload(ut)

In [ ]:
items = []

with open(r"../data/originals/users_items.json", 'r', encoding='utf-8') as f:
    # Loop for insert data into list
    for line in f.readlines():
        data = ast.literal_eval(line)          
        items.append(data)

# Convert the list of dictionaries to a DataFrame
items_df = pd.DataFrame(items)

In [3]:
items_df.columns

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'items'], dtype='object')

#### The first record is reviewed to see its content and the names of the columns.

In [4]:
print(items_df.iloc[0])

user_id                                        76561197970982479
items_count                                                  277
steam_id                                       76561197970982479
user_url       http://steamcommunity.com/profiles/76561197970...
items          [{'item_id': '10', 'item_name': 'Counter-Strik...
Name: 0, dtype: object

In [5]:
# This step is applied to convert the lists into strings and thus be able to generate an overview of the data.
items_df['items'] = items_df['items'].apply(str)

In [6]:
# The conversion is verified.
print(items_df['items'].apply(type).unique())

[<class 'str'>]

In [7]:
ut.data_overview(items_df)

Total rows:  88310

Total full null rows:  0

Total duplicated rows: 657

        Column            dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0      user_id  [<class 'str'>]      100.0        88310     0.0         0
1  items_count  [<class 'int'>]      100.0        88310     0.0         0
2     steam_id  [<class 'str'>]      100.0        88310     0.0         0
3     user_url  [<class 'str'>]      100.0        88310     0.0         0
4        items  [<class 'str'>]      100.0        88310     0.0         0

#### There are no nulls, so we proceed to remove duplicates.

In [8]:
items_df.drop_duplicates(inplace=True)

In [9]:
ut.data_overview(items_df)

Total rows:  87653

Total full null rows:  0

Total duplicated rows: 0

        Column            dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0      user_id  [<class 'str'>]      100.0        87653     0.0         0
1  items_count  [<class 'int'>]      100.0        87653     0.0         0
2     steam_id  [<class 'str'>]      100.0        87653     0.0         0
3     user_url  [<class 'str'>]      100.0        87653     0.0         0
4        items  [<class 'str'>]      100.0        87653     0.0         0

#### The presence of string values 'None' in the columns is checked.

In [10]:
ut.check_none_values(items_df)

       Columna  Porcentaje None
0      user_id              0.0
1  items_count              0.0
2     steam_id              0.0
3     user_url              0.0
4        items              0.0

In [1]:
# Convertir la columna "items" en un diccionario
items["items"] = items["items"].apply(json.loads)

# Crear un nuevo dataframe con las columnas del diccionario
new_items = pd.DataFrame.from_dict(items["items"].tolist(), orient="records")

# Agregar las columnas originales
new_items = pd.concat([new_items, items[["id"]]], axis=1)

NameError: name 'items' is not defined

In [24]:
df_result.columns

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'items', 0], dtype='object')

#### Basic ETL completed, data types have been successfully adjusted, and there are no null values or duplicates. It is exported to CSV to facilitate the subsequent handling of the dataset.


##### The column 'items,'contains a list with json dict. They will be kept as strings and handled accordingly as needed.

In [73]:
path = r'../data/generated/'
items_df.to_csv(path + 'items.csv', index=False)