In [6]:
import pandas as pd
import utils as ut
import ast

In [3]:
path = '../data/generated/reviews.csv'

df_reviews = pd.read_csv(path)
df_reviews.head(2)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."

In [36]:
# Cargar el archivo CSV
path = '../data/generated/reviews.csv'
df = pd.read_csv(path)

# Convertir las cadenas en listas de diccionarios
df['reviews'] = df['reviews'].apply(ast.literal_eval)

# Obtener todas las claves únicas de los diccionarios en la columna 'reviews'
all_keys = set()
for review_list in df['reviews']:
    for review_dict in review_list:
        all_keys.update(review_dict.keys())

# Crear nuevas columnas para cada clave única y llenarlas con los valores correspondientes
for key in all_keys:
    df[key] = df['reviews'].apply(lambda x: [review[key] if key in review else None for review in x])

# Eliminar la columna original 'reviews'
df = df.drop('reviews', axis=1)

In [37]:
df.head(2)

,user_id,user_url,last_edited,review,helpful,funny,recommend,item_id,posted
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[, , ]",[Simple yet with great replayability. In my op...,"[No ratings yet, No ratings yet, No ratings yet]","[, , ]","[True, True, True]","[1250, 22200, 43110]","[Posted November 5, 2011., Posted July 15, 201..."
1,js41637,http://steamcommunity.com/id/js41637,"[, , ]",[I know what you think when you see this title...,[15 of 20 people (75%) found this review helpf...,"[, , ]","[True, True, True]","[251610, 227300, 239030]","[Posted June 24, 2014., Posted September 8, 20..."

In [89]:
# Cargar el archivo CSV en un DataFrame
path = '../data/generated/reviews.csv'
df = pd.read_csv(path)

# Convertir la columna 'reviews' de cadena a una lista de diccionarios
df['reviews'] = df['reviews'].apply(ast.literal_eval)

# Obtener todas las claves únicas de los diccionarios en la columna 'reviews'
all_keys = set()
for review_list in df['reviews']:
    for review_dict in review_list:
        all_keys.update(review_dict.keys())

# Crear columnas adicionales en el DataFrame para cada clave única
for key in all_keys:
    df[key] = df['reviews'].apply(lambda x: [d.get(key, None) for d in x])

# Expandir las listas de diccionarios en nuevas filas
df_expanded = df.explode('reviews')



# Expandir las listas de valores en las columnas
for col in df.columns.difference(['user_id', 'user_url', 'reviews']):
    df_expanded[col] = df_expanded[col].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)

# Reorganizar las columnas para tener las originales seguidas de las nuevas
new_columns_order = list(df.columns) + [col for col in df_expanded.columns if col not in df.columns]
df_expanded = df_expanded[new_columns_order]

In [93]:
# Eliminar la columna original 'reviews'
df_expanded.drop('reviews', axis=1, inplace=True)

In [94]:
df_expanded.columns

Index(['user_id', 'user_url', 'last_edited', 'review', 'helpful', 'funny',
       'recommend', 'item_id', 'posted'],
      dtype='object')

In [ ]:
# Exportar el DataFrame a un archivo CSV
output_path = '../data/generated/reviews_sentiment.csv'
df_expanded.to_csv(output_path, index=False)