In [21]:
import pandas as pd
import utils as ut
import ast
from textblob import TextBlob

In [25]:
path = '../data/generated/reviews.csv'

df_reviews = pd.read_csv(path)
df_reviews.head(2)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."

In [26]:
# Cargar el archivo CSV
path = '../data/generated/reviews.csv'
df = pd.read_csv(path)

# Convertir las cadenas en listas de diccionarios
df['reviews'] = df['reviews'].apply(ast.literal_eval)

# Obtener todas las claves únicas de los diccionarios en la columna 'reviews'
all_keys = set()
for review_list in df['reviews']:
    for review_dict in review_list:
        all_keys.update(review_dict.keys())

# Crear nuevas columnas para cada clave única y llenarlas con los valores correspondientes
for key in all_keys:
    df[key] = df['reviews'].apply(lambda x: [review[key] if key in review else None for review in x])

# Eliminar la columna original 'reviews'
df = df.drop('reviews', axis=1)

In [7]:
df.head(2)

,user_id,user_url,funny,item_id,recommend,posted,helpful,last_edited,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[, , ]","[1250, 22200, 43110]","[True, True, True]","[Posted November 5, 2011., Posted July 15, 201...","[No ratings yet, No ratings yet, No ratings yet]","[, , ]",[Simple yet with great replayability. In my op...
1,js41637,http://steamcommunity.com/id/js41637,"[, , ]","[251610, 227300, 239030]","[True, True, True]","[Posted June 24, 2014., Posted September 8, 20...",[15 of 20 people (75%) found this review helpf...,"[, , ]",[I know what you think when you see this title...

In [27]:
# Cargar el archivo CSV en un DataFrame
path = '../data/generated/reviews.csv'
df = pd.read_csv(path)

# Convertir la columna 'reviews' de cadena a una lista de diccionarios
df['reviews'] = df['reviews'].apply(ast.literal_eval)

# Obtener todas las claves únicas de los diccionarios en la columna 'reviews'
all_keys = set()
for review_list in df['reviews']:
    for review_dict in review_list:
        all_keys.update(review_dict.keys())

# Crear columnas adicionales en el DataFrame para cada clave única
for key in all_keys:
    df[key] = df['reviews'].apply(lambda x: [d.get(key, None) for d in x])

# Expandir las listas de diccionarios en nuevas filas
df_expanded = df.explode('reviews')



# Expandir las listas de valores en las columnas
for col in df.columns.difference(['user_id', 'user_url', 'reviews']):
    df_expanded[col] = df_expanded[col].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)

# Reorganizar las columnas para tener las originales seguidas de las nuevas
new_columns_order = list(df.columns) + [col for col in df_expanded.columns if col not in df.columns]
df_expanded = df_expanded[new_columns_order]

In [28]:
# Eliminar la columna original 'reviews'
df_expanded.drop('reviews', axis=1, inplace=True)

In [29]:
df_expanded.columns

Index(['user_id', 'user_url', 'funny', 'item_id', 'recommend', 'posted',
       'helpful', 'last_edited', 'review'],
      dtype='object')

In [30]:
ut.data_overview(df_expanded)

Total rows:  58459

Total full null rows:  0

Total duplicated rows: 32973

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,user_id,[<class 'str'>],100.00,58459,0.00,0
1,user_url,[<class 'str'>],100.00,58459,0.00,0
2,funny,"[<class 'str'>, <class 'NoneType'>]",99.95,58431,0.05,28
3,item_id,"[<class 'str'>, <class 'NoneType'>]",99.95,58431,0.05,28
4,recommend,"[<class 'bool'>, <class 'NoneType'>]",99.95,58431,0.05,28
5,posted,"[<class 'str'>, <class 'NoneType'>]",99.95,58431,0.05,28
6,helpful,"[<class 'str'>, <class 'NoneType'>]",99.95,58431,0.05,28
7,last_edited,"[<class 'str'>, <class 'NoneType'>]",99.95,58431,0.05,28
8,review,"[<class 'str'>, <class 'NoneType'>]",99.95,58431,0.05,28

In [31]:
# Eliminar filas con valores nulos en cualquier columna
df_expanded.dropna(inplace=True)


# Eliminar filas duplicadas basadas en la columna 'review'
df_expanded.drop_duplicates(subset=['review'], keep='first', inplace=True)

In [32]:
ut.data_overview(df_expanded)

Total rows:  24035

Total full null rows:  0

Total duplicated rows: 0

        Column             dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0      user_id   [<class 'str'>]      100.0        24035     0.0         0
1     user_url   [<class 'str'>]      100.0        24035     0.0         0
2        funny   [<class 'str'>]      100.0        24035     0.0         0
3      item_id   [<class 'str'>]      100.0        24035     0.0         0
4    recommend  [<class 'bool'>]      100.0        24035     0.0         0
5       posted   [<class 'str'>]      100.0        24035     0.0         0
6      helpful   [<class 'str'>]      100.0        24035     0.0         0
7  last_edited   [<class 'str'>]      100.0        24035     0.0         0
8       review   [<class 'str'>]      100.0        24035     0.0         0

In [33]:

ut.check_none_values(df_expanded)

       Columna  Porcentaje None
0      user_id              0.0
1     user_url              0.0
2        funny              0.0
3      item_id              0.0
4    recommend              0.0
5       posted              0.0
6      helpful              0.0
7  last_edited              0.0
8       review              0.0

In [34]:
# Función para realizar el análisis de sentimiento y asignar los valores según la escala
def analyze_sentiment(text):
    analysis = TextBlob(text)
    if analysis.sentiment.polarity < 0:
        return 0  # Sentimiento negativo
    elif analysis.sentiment.polarity == 0:
        return 1  # Sentimiento neutro
    else:
        return 2  # Sentimiento positivo

# Aplicamos la función a la columna 'review' y creamos la nueva columna 'sentiment_analysis'
df_expanded['sentiment_analysis'] = df_expanded['review'].apply(analyze_sentiment)

In [36]:
filtered = df_expanded[['review', 'sentiment_analysis']]
filtered[filtered['sentiment_analysis'] == 2].loc[0:30,:]

                                               review  sentiment_analysis
0   Simple yet with great replayability. In my opi...                   2
1   I know what you think when you see this title ...                   2
2   A suitably punishing roguelike platformer.  Wi...                   2
3   This game... is so fun. The fight sequences ha...                   2
9                                             love it                   2
13  Amazing, Non-stop action of blowing stuff to b...                   2
15                      Good Game It Was Very Fun!!!!                   2
17  I'm going to keep this somewhat short and swee...                   2
18  I've always liked games like Terraria with the...                   2
19                          Best first person shooter                   2
20                Hermoso juego que nunca olvidare <3                   2
21  One of the best sequals i have every seen, reb...                   2
25  a fun game that gets ridiculously hard on hard...                   2
27  Great Game, Love it, Best game ever..............                   2
29  Love it. Love it. And since I can read cyrilli...                   2
30                                       Just amazing                   2

In [ ]:
# Reemplazamos la columna original 'review' con la nueva 'sentiment_analysis'
df_expanded.drop(columns=['review'], inplace=True)

In [ ]:
# Exportar el DataFrame a un archivo CSV
output_path = '../data/generated/reviews_sentiment.csv'
df_expanded.to_csv(output_path, index=False)